<div class="col-xs-12 col-sm-4 col-md-4">
    <h3>Directory & Help Center</h3>
    <p>How can we help you? Click here for help topics or access contact info below.</p>
	<p><a href="#" class="btn btn-default" role="button">Security</a> <a href="#" class="btn btn-default" role="button">Human Resource Services</a></p>
   	<p><a href="#" class="btn btn-default" role="button">Technical</a> <a href="#" class="btn btn-default" role="button">Transportation & Parking Services</a></p>
	    <h4>Asynchronous results</h4>
    <pre>Model: {{asyncSelected | json}}</pre>
    <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

</div>