<div parallax style="margin-top: 10px; background-image: url('images/splash.jpg'); background-size: 100% auto; background-position: center; background-repeat: no-repeat;" class="jumbotron">
  <div style="padding: 10px; max-width: 400px; height: 100%; background-color: rgba(255,255,255,0.6);">
    <h1 style="text-shadow: 2px 2px #ccc;">Hello, World.</h1>
    <p style="">Welcome to the new myBoiseState.</p>
    <p>

    	<a class="btn btn-info btn-lg" role="button">Learn more</a>
    	<a class="btn btn-danger btn-lg" ng-click="signInModal($event)" role="button">Sign In</a>
    	<!-- Button trigger modal -->
    </p>
  </div>
  <div style="margin-top: -75px; padding-right: 20px;" class="pull-right lead"><span style="color: rgba(255,255,255, 0.7); font-size: 4em;">45°</span></div>
</div>
			
<div class="container-fluid">
	<div class="row">
	  <div style="background: #fff;" class="col-xs-12 col-sm-4 col-md-4">
	    <h3>Directory & Help Center</h3>
        <p>How can we help you? Click here for help topics or access contact info below.</p>
		<p><a href="#" class="btn btn-default" role="button">Security</a> <a href="#" class="btn btn-default" role="button">Human Resource Services</a></p>
       	<p><a href="#" class="btn btn-default" role="button">Technical</a> <a href="#" class="btn btn-default" role="button">Transportation & Parking Services</a></p>
		    <form class="navbar-form navbar-left" role="search">
	          <div class="form-group">
	            <input type="text" style="" class="form-control" placeholder="Search Faculty and Staff">
	            <button type="submit" class="btn btn-primary">Submit</button>
	          </div>
	        </form>
	  </div>
	  <div style="background: #fff;" class="col-xs-12 col-sm-4 col-md-4">
	  	<div class="panel panel-default">
	  		<div class="panel-body">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="64px" src="https://my.boisestate.edu/PublishingImages/BroncoAlertPromo.png" alt="...">
					</a>
					<div class="media-body">
						<h4 class="media-heading"><a href="#">Opt in to Bronco Alert</a></h4><p>BroncoAlert is a phone and text-based system allowing the university to proactively notify...</p>
					</div>
				</div>
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="64px" src="https://my.boisestate.edu/PublishingImages/WebCampPromo.png" alt="...">
					</a>
					<div class="media-body">
						<h4 class="media-heading"><a href="#">Boise State Web Camp 2014</a></h4><p>The first-ever Boise State Web Camp is scheduled to take place Wednesday, April 23 from 9:00 am – 12:00 pm in the Student Union Building...</p>
					</div>
				</div>
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="64px" src="https://my.boisestate.edu/PublishingImages/myBSMoblePromoMBS.png" alt="...">
					</a>
					<div class="media-body">
						<h4 class="media-heading"><a href="#">myBoiseState Mobile</a></h4><p>Check out what's new in version 1.5...</p>
					</div>
				</div>
			</div>
		</div>
	  </div>
	  <div style="background: #fff;" class="col-xs-12 col-sm-4 col-md-4">
	  	<div class="panel">
	  		<h3>Campus Map</h3>
		    <div class="thumbnail">
		      <img data-src="holder.js/200x100" width="200px" alt="..." src="images/maps.png">
		      <div class="caption">
		        <p>Looking for parking? New to campus? Want to locate a building or catch a shuttle? Try our interactive campus map.</p>
		        <p><a href="#" class="btn btn-primary" role="button">View Map</a></p>
		      </div>
		    </div>
		</div>
	  </div>
	</div>

	<!-- Campus Update -->
	<h3>Campus Update <small>Your Source For Campus News</small></h3>
	<div class="panel panel-default">
  		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" width="64px" src="http://news.boisestate.edu/update/files/2014/02/Adachi_featured-180x92.jpg" src="..." alt="...">
				</a>
				<div class="media-body">
					<h4 class="media-heading"><a href="#">Exhibition to Feature Japanese Illustration and Painting</a></h4>
					<p>“Japanese Illustration and Painting: The Work of Yuji Adachi and Naohiko Watanabe” is in the SUB Gallery from Feb. 28-April 17.</p>
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" width="64px" src="http://news.boisestate.edu/update/files/2012/09/FettuccineForum254x134-180x92.jpg" src="..." alt="...">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Boise State Professor Headlines March Fettuccine Forum</h4>
					<p>The Fettuccine Forum presents “Pop-Up Art: The Temporary Phenomenon of Transforming Place,” featuring Amanda Johnson Ashley.</p>
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" width="64px" src="http://news.boisestate.edu/update/files/2012/09/thisweek_orange_254x134-180x92.jpg" src="..." alt="...">
				</a>
				<div class="media-body">
					<h4 class="media-heading">This Week at Boise State</h4>
					<p>Your list of Boise State events for Feb. 20-March 1, 2014.</p>
				</div>
			</div>  		
		</div>
	</div>

	<!-- B Social -->
	<h3>B Social</h3>
	<div class="panel panel-default">
		<div class="panel-body">
				<div class="row">
					<!-- Social Feed -->
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="http://pbs.twimg.com/profile_images/378800000283909683/767f35c7ce64f7cef57c6097aa65b09b_normal.jpeg" alt="...">
							</a>
							<div class="media-body">
								<h4 class="media-heading"><img src="images/twitter.png" height="20px" /> Louis Riddick <small>@LRiddickESPN</small></h4>
								The way Demarcus Lawrence slapped the bag in cornering drills also shows up on film. Strong hands. #BoiseState
							</div>
						</div>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" width="48px" src="https://lh4.googleusercontent.com/-_j_pQ4_DdMw/AAAAAAAAAAI/AAAAAAAAA9o/hrUXbg09DVk/photo.jpg?sz=100" alt="...">
							</a>
							<div class="media-body">
								<h4 class="media-heading"><img src="images/google.png" height="20px" /> Jonathan Lawson </h4>
								So. my friend is participating in +Boise State University 's Dance Marathon this week, and they're raising...
							</div>
						</div>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="http://pbs.twimg.com/profile_images/378800000532510191/7096c142fae14aa3a64e592c592841b1_normal.jpeg" alt="...">
							</a>
							<div class="media-body">
								<h4 class="media-heading"><img src="images/twitter.png" height="20px" /> Jay Tust <small>@KTVBSportsGuy</small></h4>
								#BoiseState head coach Bryan Harsin announced the hiring of Taylor Tharp as director of player personnel today.
							</div>
						</div>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="http://profile.ak.fbcdn.net/hprofile-ak-frc1/t5/373196_62232870730_320071994_q.jpg" alt="...">
							</a>
							<div class="media-body">
								<h4 class="media-heading"><img src="images/facebook.png" height="20px" /> Boise State University</h4>
								Congratulations to our Boise State Broncos Swimming & Diving team, the 2014 Mountain West Conference CHAMPS! This is their second conference championship in the last three years. GO BRONCOS! #boisestate
							</div>
						</div>
					</div>
					<!-- Instagram Feed -->
					<div class="col-xs-12 col-sm-6 col-md-6">
						<h4><img src="images/instagram.png" height="20px" />  Instagram</h4>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<a href="#" class="thumbnail">
								<img src="http://distilleryimage11.s3.amazonaws.com/df37ab709d8b11e396070e2be03cb0ab_8.jpg">
							</a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<a href="#" class="thumbnail">
								<img src="http://distilleryimage7.s3.amazonaws.com/925e03c09d8c11e3be1d12007a13523b_8.jpg">
							</a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<a href="#" class="thumbnail">
								<img src="http://distilleryimage7.s3.amazonaws.com/1fa94d3c9d8a11e38e0e1240e60ce593_8.jpg">
							</a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<a href="#" class="thumbnail">
								<img src="http://distilleryimage7.s3.amazonaws.com/cd524b6c9d8711e3ade30e574d92f38f_8.jpg">
							</a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<a href="#" class="thumbnail">
								<img src="http://distilleryimage11.s3.amazonaws.com/c6d299aa9d7c11e39f1312c430b05903_8.jpg">
							</a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<a href="#" class="thumbnail">
								<img src="http://distilleryimage7.s3.amazonaws.com/99cb4fc09d7611e3ad470e6af5350ef3_8.jpg">
							</a>
						</div>
					</div>
				</div>
		</div>
	</div>

	<!-- Athletics -->
	<h3>Athletics</h3>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
			  <!-- Athletics Schedule -->
			  <div class="col-xs-12 col-sm-4">
			  	<h5>Schedule</h5>
			  	<ul class="list-group">
				  <li class="list-group-item"><b>Today:</b><br/> Women's Basketball <br/>Fresno State<br/>Boise, Idaho 7:00PM MT</li>
				  <li class="list-group-item"><b>Today:</b><br/> Men's Basketball <br/>Fresno State<br/>Fresno, California 7:00PM MT</li>
				  <li class="list-group-item"><b>2/27/2014</b><br /> Women's Tennis<br />Washington State<br/> Boise (Boas ITC) 10:00 AM MT</li>
				  <li class="list-group-item"><b>2/27/2014</b><br /> Track<br />Day 1<br/> Colorado Springs, Colorado All Day</li>
				</ul>
			  </div>
			  <!-- Athletics Articles -->
			  <div class="col-xs-12 col-sm-4">
			  	<h5>Articles</h5>
			  	<div class="media">
					<div class="media-body">
						<h4 class="media-heading">M. Basketball. Bronco Rewind: Thrilling Win Over UNLV</h4>
						Boise State men's basketball defeated UNLV Saturday, 91-90, in a thrilling overtime game. The Broncos used huge games from Ryan Watkins and Anthony Drmic to force the extra period, where Derrick Marks scored all 13 Boise State points. It was just enough to beat the Rebels whose buzzer beater was waved off.
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Football. NFL Combine Results for Leno, Paradis</h4>
						With two days of on-field workouts completed at the 2014 National Football League Scouting Combine, tackle Charles Leno, Jr. and center Matt Paradis each put up some great numbers.
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">W. Gymnastics. Morris, Perkins Named MRGC Athletes of the Week</h4>
						Boise State's Kelsey Morris and Ciera Perkins have been named the Mountain Rim Gymnastics Gymnast and Specialist of the Week, respectively, as the duo helped the Broncos to a victory over San Jose State on Friday night.
					</div>
				</div>
			  </div>
			  <div class="col-xs-12 col-sm-4">
			  	<h5>YouTube</h5>
				    <div class="thumbnail">
				      <img data-src="holder.js/300x200" alt="..." src="http://i.ytimg.com/vi/P7sgIml5gq4/hqdefault.jpg">
				      <div class="caption">
				        <h3>Boise State #Hashtag Video</h3>
				        <p>UNLV vs Boise State Men's Basketball - Feb 22 @ 6 pm • Boise State Students get in FREE - wear orange to the game! • #Project3K - Break the student attendanc...</p>
				        <p><a href="#" class="btn btn-primary" role="button">Watch</a> <a href="#" class="btn btn-default" role="button">YouTube</a></p>
				      </div>
				    </div>
			  </div>
			</div>
		</div>
	</div>

</div>