<div style="margin-top: 10px; background-image: url('images/splash.jpg'); background-size: 100% auto; background-position: center; background-repeat: no-repeat;" class="jumbotron">
  <div style="padding: 10px; max-width: 400px; height: 100%; background-color: rgba(255,255,255,0.6);">
    <h1 style="text-shadow: 2px 2px #ccc;">Hello, World.</h1>
    <p style="">Welcome to the new myBoiseState.</p>
    <p>
    	<a class="btn btn-info btn-lg" role="button">Learn more</a>
    	<!-- Button trigger modal -->
    </p>
  </div>
</div>